[Desktop Entry]
Name=Expose Air

X-KDE-PluginInfo-Name=ExposeAir
X-KDE-PluginInfo-Author=Phob1an
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-License=GPLv3
