[Desktop Entry]
Name=Expose Air

X-KDE-PluginInfo-Name=Expose Air
X-KDE-PluginInfo-Author=Phobian347
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-License=CC BY-SA
